body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #654ea3, #eaafc8);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

.diagonal-box {
    cursor: pointer;
    height: 100vh;
    transform: skewY(-5deg);
}

.diagonal-box:hover {
    box-shadow: 2px -2px 22px 20px rgba(220,220,220,0.5);
    -webkit-box-shadow: 2px -2px 22px 20px rgba(220,220,220,0.5);
    -moz-box-shadow: 2px -2px 22px 20px rgba(220,220,220,0.5);
    transition: all 1s;
}

.content {
    right: 5%;
    top: 35%;
}

a {
    color: rgb(179, 75, 34);
    text-decoration: none;
    font-weight: bold;
}