@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: 'Bebas Neue', cursive;
}

body {
    height: 100vh;
}

.thanks-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: goldenrod;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: rgb(137, 235, 137);
}

#triangle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    border-top: 100px solid #ffffffaa;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}