@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');



body {
    font-family: 'Nanum Myeongjo', serif;
}

h1 {
    cursor: pointer;
    background: hsla(192, 80%, 51%, 1);
    background: -webkit-linear-gradient(to left, hsla(192, 80%, 51%, 1) 0%, hsla(355, 85%, 63%, 1) 100%);
    background: -moz-linear-gradient(to left, hsla(192, 80%, 51%, 1) 0%, hsla(355, 85%, 63%, 1) 100%);
    background: linear-gradient(to left, hsla(192, 80%, 51%, 1) 0%, hsla(355, 85%, 63%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(160%);
}

video {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}

img {
    filter: drop-shadow(20px 26px 91px #ffffffdd);
    -webkit-filter: drop-shadow(20px 26px 91px #ffffffee);
    -moz-filter: drop-shadow(20px 26px 91px #ffffffee);
}
  
html, body, div, iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}
  
iframe {
    display: block;
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}