body {
    background-color: #19FFCBdc;;
    font-family: 'Amatic SC', cursive;
}

.cat-bg {
    min-height: 100vh;
    background-color: #19FFCBdc;
    background-image: url('images/cat.png');
    background-repeat: no-repeat;
    background-position: 0% 50%;
}

.carousel {
    width: 65%;
}

@media only screen and (max-width: 868px) {
    .content {
        position: relative;
    }
    h1, h2 {
        font-size: 0.5rem;
    }
    .carousel {
        position: absolute;
        left: 0;
        right: 0;
        width: 90%;
        
    }

    .cat-bg {
        background-size: 40%;
        background-position: 0% 100%;
    }
}